body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /* to bring them horizontally center */
    align-items: center;
    /* in order to bring them center vertically we use height and justify content */
    height: 100vh;
    justify-content: center;
    background : url("https://images.unsplash.com/photo-1555679427-1f6dfcce943b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUwfHxiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size:14px;
    text-align: center;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px ;
    position: relative;

}

.clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: .8;
}

.clock #ampm{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: green;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

